{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}New Topic{% endblock %}

{% block navbar %}
    {% include 'forums/components/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'forums:category_list' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'forums:category_list' %}">{{ category.name }}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">New Topic</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
