<h5>Hi {{ user|capfirst }}</h5>

<p>
Someone asked for a password reset for the email address {{ email }}.
Click the link below:
</p>

<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">
        Reset Password
    </a>
</p>

Or copy and paste link below in your browser:

<p>
<strong>{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}</strong>
</p>

<p>
In case you forgot your OurForums username: <strong>{{ user.username }}</strong>
</p>


<p>
Thanks,
</p>

The OurForums Team